body {
    margin: 0;
    overflow: hidden;
}

#container {
    position: relative;

    height: 100vh;
    width: 100vw;
    
    background-color: rgb(100, 57, 8);
}

#inner-container {
    position: relative;

    background-color: black;

    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    height: min(850px, 90vh);
    width: min(1500px, 80vw);


    border-radius: 30px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.55);

    transition: top 1.0s ease-in-out;
}

#maple-background {
    position: absolute;

    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;

    border-radius: 30px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.55);
}


#main-hotbar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.24);

    left: 50%;
    
    transform: translateX(-50%);

    height: 55px;
    width: 100%;

    border-radius: 30px 30px 0 0;
}

#main-hotbar button {
    position: absolute;
    
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100px;
    border: 0;

    border-radius: 30px 0 0 0;
}

#hotbar-search {
    position: absolute;
    top: 17px;
    left: 40px;
    height: 25px;
}

#main-hotbar button:hover {
    background-color: rgb(255, 167, 66);
    cursor: pointer;
}

#outer-search-input {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;

    top: 11px;
    left: 110px;

    height: 30px;
    
    width: 0px;
    opacity: 0;
    pointer-events: none;

    border: none;
    border-radius: 0px;
    transition: width 1s ease-in-out;
}

#outer-search-input.toggle {
    width: 300px;
    opacity: 1;
    pointer-events: auto;
    border-radius: 30px;
}

#text-container {
    position: absolute;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);


    width: min(1700px, 50vw);
}

.parks-title {


    font-family: "Montserrat", sans-serif;
    letter-spacing: -30px;
    font-size: 200px;

    color: rgb(255, 255, 255);

    transform: translateY(-40px);
}

#text-container div {
    transform: translateY(-200px);
    position: relative;
    

    height: 50px;
}

#text-search {
    background-color: transparent;
    position: absolute;

    left: -150px;
    height: 40px;

    width: 300px;
    cursor: pointer;
    border: none;
    border-radius: 20px;

    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: -1.5px;
}

#text-search img {
    position: relative;
    top: 4px;
    left: -7px;
    height: 20px;

    transition: left 1s ease-in-out;
}

#text-search:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#inner-search-input {
    position: absolute;
    
    height: 30px;
    width: 0px;
    
    top: 4px;
    left: -95px;

    border: none;
    border-radius: 30px;

    padding-left: 20px;
    padding-right: 20px;

    pointer-events: none;
    opacity: 0;

    transition: width 1s ease-in-out;
}

#text-search.toggle {
    width: 50px;
}

#text-search.toggle span {
    opacity: 0;
}

#text-search.toggle img {
    top: 10px;
    left: 0.8px;
}

#inner-search-input.toggle {
    width: 200px;
    pointer-events: auto;
    opacity: 1;
}


#text-map {
    background-color: transparent;
    position: absolute;

    left: 150px;
    height: 40px;

    width: 300px;
    cursor: pointer;
    border: none;
    border-radius: 20px;


    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: -1.5px;

    position: relative;
}

#text-map img {
    position: absolute;
    top: 5px;
    left: 100px;
    height: 26px;
    filter: invert(1);
}

#text-map span {
    position: relative;
    left: 10px;
}

#text-map:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#inner-container.switch {
    top: -50%;
}

#container-map {
    position: absolute;
    background-color: transparent;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    top: 0px;
    left: 0px;

    transform: translateY(100%);
    pointer-events: none;
    opacity: 0;

    width: 100%;
    height: 100%;

}

#container-map.switch {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

#map-page-hotbar {
    position: relative;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    height: 50px;
}

#map-page-hotbar button {
    background-color: transparent;
    border: none;
    height: 100%;
}

#map-page-hotbar button:hover {
    background-color: rgb(255, 167, 66);
}

#map-page-search {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90px;
    height: 100%;
    cursor: pointer;
}

#map-page-search-img {
    position: absolute;
    height: 28px;

    top: 12px;
    left: 30px;

    background-color: rgba(0, 0, 0, 0);
}



.parks-title-hotbar {
    position: absolute;

    font-family: "Montserrat", sans-serif;
    letter-spacing: -4px;
    font-size: 35px;

    left: 50%;

    width: 200px;

    transform: translateX(-50%);

    border: none;
    background-color: transparent;

    color: rgb(255, 255, 255);
}

.parks-title-hotbar:hover {
    cursor: pointer;
}

#map-page-search-text {
    position: relative;

    top: 9px;
    left: 100px;

    width: 0px;
    height: 30px;

    border: none;
    border-radius: 0px;

    padding-left: 20px;
    padding-right: 20px;

    transition: width 1s ease-in-out;

    pointer-events: none;
    opacity: 0;
}

#map-page-search-text.toggle {
    border-radius: 30px;
    width: 300px;
    pointer-events: auto;
    opacity: 1;
}

#inner-container-map {
    position: absolute;
    
    display: flex;
    flex-direction: row;


    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    height: min(800px, 80vh);
    width: min(1600px, 80vw);
}

#map {
    position: absolute;

    height: 100%;
    width: 99%;

    border-radius: 30px;
}

#map-options-parent {
    position: relative;

    left: 100%;

    height: min(800px, 80vh);
    width: 30px;
}

#colour-mode-button {
    position: absolute;

    height: 60px;
    width: 100%;

    background-color: rgb(255, 251, 251);

    border-radius: 30px;
    border: none;
}

#colour-mode-button-display {
    position: relative;

    width: 100%;
    height: 40%;

    background-color: rgb(100, 57, 8);

    top: -12px;

    border: none;
    border-radius: 30px;
    transition: top 0.2s ease-in-out;
}

#colour-mode-button.dark {
    background-color: rgb(39, 54, 122);
}

#colour-mode-button.light {
    background-color: rgb(198, 228, 181)
}

#colour-mode-button.light #colour-mode-button-display {
    top: -12px;
}

#colour-mode-button.dark #colour-mode-button-display {
    top: 10px;
}

#map-origin-button {
    position: absolute;

    height: 30px;
    width: 100%;

    top: 80px;

    border: none;
    border-radius: 30px;
}

#map-options-parent.light #colour-mode-button,
#map-options-parent.light #map-origin-button {
    background-color: rgb(198, 228, 181)
}

#map-options-parent.light #colour-mode-button-display {
    top: -12px;
}

#map-options-parent.dark #colour-mode-button-display {
    top: 10px;
}

#map-options-parent.dark #colour-mode-button,
#map-options-parent.dark #map-origin-button {
    
    background-color: rgb(39, 54, 122);
}

#map-origin-button:active {
    filter: brightness(80%);
}

#origin-icon {
    filter: hue-rotate(180deg);  /* shifts colors */
    

    position: relative;

    height: 20px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -63%);
}